@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f7f8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.btn {
  border-radius: 5px;
  color: #fff;
  background: #c53aae;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 12px 29px;
  transition: all 0.2s ease 0s;
}
.container h1 {
  color: #303030;
  float: left;
  font-size: 76px;
  font-weight: 700;
  line-height: 73px;
  margin-bottom: 9px;
  margin-top: 14px;
  width: 100%;
}
.container {
  color: #444;
  float: left;
  margin-bottom: 26px;
  margin-top: 10px;
  width: 100%;
}
p {
  color: #555;
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.alert-warning {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 2rem;
  padding-right: 3rem;
  position: relative;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  background-color: #fff3cd;
  border-color: #ffecb5;
  color: #664d03;
  margin-bottom: 0;
  line-height: 1.7;
}

.topline {
  max-width: 100%;
  position: absolute;
  width: 100%;
  float: left;
  padding-left: 50px;
  top: 0;
  z-index: 1;
}

.topline .logo {
  font-size: 20px;
  font-weight: 600;
  float: left;
  margin-top: 1.5rem;
}
.topline .logo img {
  float: left;
}
.topline .logo img.logo-img {
  margin-right: 6px;
  margin-top: 6px;
  width: 158px;
}

.topline .navbar-items {
  float: right;
  /* border: 1px solid red; */
}
.topline .navbar-items .nav-items {
  border-radius: 0 0 0 15px;
  float: right;
  padding-left: 35px;
}
.topline .navbar-items .nav-items a {
  color: #666;
  font-size: 15px;
  padding: 20px 22px;
  transition: all 0.2s ease 0s;
}
.topline .navbar-items .btn.btn-primary {
  border-radius: 0 0;
  height: 100%;
  margin-left: 25px;
  padding: 20px 22px;
}

/* ############ */
.showcase .showcase-head {
  text-align: center;
  width: 100%;
}
.showcase .showcase-head span.wagmi {
  color: #838d99;
  font-size: 25px;
  width: 100%;
  float: left;
}
.showcase .showcase-head h1 {
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  color: #303030;
  margin-bottom: 9px;
  font-weight: 700;
}
.showcase .showcase-head p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 19px;
  color: #444;
  margin-top: 10px;
  width: 100%;
}
.btn.btn-lg {
  font-size: 16px;
  padding: 17px 42px;
}
.globe-gif {
  display: inline-block;
  /* -webkit-filter: brightness(99.4%); */
  float: none;
  margin-bottom: -244px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  width: 600px;
}
.signup-counts {
  margin-left: 2rem;
  background: #fff;
  border-radius: 26px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  left: -110px;
  padding: 10px 20px;
  position: absolute;
  text-align: left;
  top: 15%;
  width: 210px;
  z-index: 1;
  width: 183px;
}
.signup-counts h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.signup-counts p {
  color: #666;
  float: left;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  width: 100%;
}

.courses .co-heading h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
/* ##################### Media Query####### */
@media (max-width: 980px) {
  .btn.btn-lg {
    font-size: 14px;
    min-height: 45px;
    padding: 11px 17px;
  }
  .signup-counts {
    left: auto;
    right: 70% !important;
  }
}
@media (max-width: 760px) {
  .topline {
    align-items: center;
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 15px;
    padding-left: 10px;
    position: static;
  }
  .topline .logo {
    color: #000;
    font-size: 14px;
    margin-top: 0 !important;
    padding-bottom: 0;
    padding-top: 0;
  }
  .topline .logo img.logo-img {
    margin-right: 0;
    margin-top: 0;
    width: 108px;
  }
  .topline .navbar-items .nav-items a {
    padding: 20px 10px;
  }
  .topline .navbar-items a.btn {
    /* margin-top: 10px; */
    padding: 20px 22px;
  }
  .signup-counts {
    left: 0;
    right: auto;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 1rem;
  }
  .container h1 {
    font-size: 27px !important;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .topline .logo img.logo-img {
    margin-top: 0;
    width: 111px;
  }
  .topline .navbar-items a.btn {
    font-size: 12px;
    margin-left: 0;
    padding: 20px 22px;
  }
  .showcase .showcase-head h1 {
    line-height: 35px;
  }
  .showcase .showcase-head p {
    font-size: 13px;
  }
  .globe-gif {
    float: left;
    margin-bottom: -170px;
    width: 100%;
  }
  .signup-counts {
    top: 20px;
  }
  .signup-counts::before {
    background-position: top;
    background-size: 132%;
    height: 100px;
    top: 64px;
    width: 100px;
  }
  .signup-counts p {
    font-size: 12px;
    line-height: 18px;
  }
}
